      body {
        background-color: rgb(0, 0, 0);
        color: white;
        text-align: center;
        font-size: 30px;
        font-family: sans-serif;
        margin-top: 10%;
      }
          footer{
        color: white;
        text-align: center;
        margin-top: 200px;
      }
      .icon{
        margin-top: 60px;
        color: white;
        display: flex;
        gap: 40px;
      }