body {
        background-color: rgb(0, 0, 0);
        color: white;
        font-family: Arial, sans-serif;
      }
      .column-tictac {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        background-color: transparent;
        padding: 10px;
        height: 500px;
        width: 500px;
        margin: 0 auto;
      }
      .column-tic {
        border: 5px double rgba(255, 0, 0, 0.8);
        padding: 20px;
        font-size: 30px;
        text-align: center;
        cursor: pointer;
      }
      h1,
      p {
        text-align: center;
      }
      h1 {
        color: #ff0000;
      }
      .cercle,
      .tick {
        height: 70px;
        width: 70px;
        border: double white 5px;
        background-color: transparent;
        display: none;
        margin: 0 auto;
        vertical-align: middle;
      }
      .cercle {
        border-radius: 50%;
        box-shadow: 0 0 10px 5px blue;
      }
      .tick {
        box-shadow: 0 0 10px 5px rgb(255, 0, 0);
        transform: rotateZ(45deg);
      }