<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Tic-Tac-Toe</title>
<link rel="stylesheet" href="/assets/css/tictactoe-style.css">
<link rel="icon" href="/assets/img/icon_x-o.png" type="image/x-icon">
<script src="/assets/js/game.js"></script>
<script src="/assets/js/noob.js"></script>
<script src="/assets/js/medium.js"></script>
<script src="/assets/js/hard.js"></script>
</head>
<body>
<h1>Tic-Tac-Toe</h1>

<div class="column-tictac">
  <div class="column-tic" data-index="0"><div class="cercle"></div><div class="tick"></div></div>
  <div class="column-tic" data-index="1"><div class="cercle"></div><div class="tick"></div></div>
  <div class="column-tic" data-index="2"><div class="cercle"></div><div class="tick"></div></div>
  <div class="column-tic" data-index="3"><div class="cercle"></div><div class="tick"></div></div>
  <div class="column-tic" data-index="4"><div class="cercle"></div><div class="tick"></div></div>
  <div class="column-tic" data-index="5"><div class="cercle"></div><div class="tick"></div></div>
  <div class="column-tic" data-index="6"><div class="cercle"></div><div class="tick"></div></div>
  <div class="column-tic" data-index="7"><div class="cercle"></div><div class="tick"></div></div>
  <div class="column-tic" data-index="8"><div class="cercle"></div><div class="tick"></div></div>
</div>

<div class="line"></div>

<footer>
Contact info here...
</footer>

<!-- JS -->
<script src="/assets/js/noob.js"></script>
<script src="/assets/js/medium.js"></script>
<script src="/assets/js/hard.js"></script>
<script src="/assets/js/game.js"></script>
</body>
</html>
