<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Tic-Tac-Toe</title>
<link rel="stylesheet" href="/assets/css/multiplayer.css">
<link rel="icon" href="/assets/img/icon_x-o.png" type="image/x-icon">
<link rel="manifest" href="./manifest.json">

<meta name="theme-color" content="#6a00ff">

<link rel="apple-touch-icon" href="../assets/img/icon-x-o.png">

<script>
  if ("serviceWorker" in navigator) {
    navigator.serviceWorker.register("/service-worker.js");
  }
</script>

</head>
<body>
<h1>Tic-Tac-Toe</h1>
<p>Click on a cell to make a move. Player 1 is X and Player 2 is O.</p>
<div class="column-tictac">
      <div class="column-tic" data-index="0">
        <div class="cercle"></div>
        <div class="tick"></div>
      </div>
      <div class="column-tic" data-index="1">
        <div class="cercle"></div>
        <div class="tick"></div>
      </div>
      <div class="column-tic" data-index="2">
        <div class="cercle"></div>
        <div class="tick"></div>
      </div>
      <div class="column-tic" data-index="3">
        <div class="cercle"></div>
        <div class="tick"></div>
      </div>
      <div class="column-tic" data-index="4">
        <div class="cercle"></div>
        <div class="tick"></div>
      </div>
      <div class="column-tic" data-index="5">
        <div class="cercle"></div>
        <div class="tick"></div>
      </div>
      <div class="column-tic" data-index="6">
        <div class="cercle"></div>
        <div class="tick"></div>
      </div>
      <div class="column-tic" data-index="7">
        <div class="cercle"></div>
        <div class="tick"></div>
      </div>
      <div class="column-tic" data-index="8">
        <div class="cercle"></div>
        <div class="tick"></div>
      </div>
</div>

<div class="line"></div>

<footer>
  <p>Contact info here...</p>
  <div class="icon"></div>
</footer>

<script src="/assets/js/noob.js"></script>
<script src="/assets/js/medium.js"></script>
<script src="/assets/js/hard.js"></script>
<script src="/assets/js/game.js"></script>
</body>
</html>