<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tic-Tac-Toe</title>
        <link rel="stylesheet" href="/assets/css/tictactoe-style.css">
        <script src="/assets/js/tictactoe-function.js"></script>
  </head>
  <body>
    <h1>Tic-Tac-Toe Game</h1>
    <audio
      autoplay
      id="background-audio"
      src="/assets/audio/Geometry Dash - Practice Mode - Stay Inside Me - Soundtrack.mp3"
      type="audio/ogg"
    ></audio>
    <audio
      id="audio"
      src="/assets/audio/GTA SA Menu - Sound Effect (HD).mp3"
      type="audio/ogg"
    ></audio>
    <input
      type="button"
      class="play"
      name="play"
      value="play"
      onclick="showDifficulty() ; playsoundeffect()"
    />
    <button class="credit" onclick="playsoundeffect()">
      <a
        href="/view/multiplayer.html"
        >2 Players</a
      >
    </button>
    <button class="credit" onclick="playsoundeffect()">
      <a
        href="/view/credit.html"
        >Crédit</a
      >
    </button>
    <div class="column-tictac">
      <div class="column-tic1">
        <div class="cercle"></div>
        <div class="tick"></div>
      </div>
      <div class="column-tic">
        <div class="cercle"></div>
        <div class="tick"></div>
      </div>
      <div class="column-tic">
        <div class="cercle"></div>
        <div class="tick"></div>
      </div>
      <div class="column-tic">
        <div class="cercle"></div>
        <div class="tick"></div>
      </div>
      <div class="column-tic1">
        <div class="cercle"></div>
        <div class="tick"></div>
      </div>
      <div class="column-tic">
        <div class="cercle"></div>
        <div class="tick"></div>
      </div>
      <div class="column-tic">
        <div class="cercle"></div>
        <div class="tick"></div>
      </div>
      <div class="column-tic">
        <div class="cercle"></div>
        <div class="tick"></div>
      </div>
      <div class="column-tic1">
        <div class="cercle"></div>
        <div class="tick"></div>
      </div>
    </div>
    <div class="line"></div>
    <div class="difficulty">
      <h2>Choose difficulty</h2>
      <br /><br />
      <button class="I" onclick="NotYet()"><span>•</span></button>
      <button class="II" onclick="NotYet()"><span>••</span></button>
      <button class="III" onclick="NotYet()"><span>•••</span></button>
      <button class="cancel" name="cancel" value="cancel" onclick="cancel()">
        Cancel
      </button>
    </div>
      </body>
</html>