<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tic-Tac-Toe Game</title>
    <link rel="stylesheet" href="/assets/css/multiplayer.css">
    <script src="/assets/js//multiplayer.js"></script>
  </head>
  <body>
    <h1>Tic-Tac-Toe Game</h1>
    <p>Click on a cell to make a move. Player 1 is X and Player 2 is O.</p>
    <audio
      autoplay
      id="background-audio"
      src="Dua-Lipa-New-Rules-_Official-Instrumental_.ogg"
    ></audio>
    <div class="column-tictac">
      <div class="column-tic" onclick="makeMove(this, 0)">
        <div class="cercle"></div>
        <div class="tick"></div>
      </div>
      <div class="column-tic" onclick="makeMove(this, 1)">
        <div class="cercle"></div>
        <div class="tick"></div>
      </div>
      <div class="column-tic" onclick="makeMove(this, 2)">
        <div class="cercle"></div>
        <div class="tick"></div>
      </div>
      <div class="column-tic" onclick="makeMove(this, 3)">
        <div class="cercle"></div>
        <div class="tick"></div>
      </div>
      <div class="column-tic" onclick="makeMove(this, 4)">
        <div class="cercle"></div>
        <div class="tick"></div>
      </div>
      <div class="column-tic" onclick="makeMove(this, 5)">
        <div class="cercle"></div>
        <div class="tick"></div>
      </div>
      <div class="column-tic" onclick="makeMove(this, 6)">
        <div class="cercle"></div>
        <div class="tick"></div>
      </div>
      <div class="column-tic" onclick="makeMove(this, 7)">
        <div class="cercle"></div>
        <div class="tick"></div>
      </div>
      <div class="column-tic" onclick="makeMove(this, 8)">
        <div class="cercle"></div>
        <div class="tick"></div>
      </div>
    </div>
  </body>
</html>
